---
import Artwork from "./Artwork.astro";
import AccademiaToo from "../images/Accademia too.jpg";
import Accademia from "../images/Accademia.jpg";
import Anyway from "../images/Anyway.jpg";
import Canal from "../images/Canal.jpg";
import Carnival from "../images/Carnival.jpg";
import Casanova from "../images/Casanova.jpg";
import CoffeeBreak from "../images/Coffee Break.jpg";
import Contact from "../images/Contact.jpg";
import Earth from "../images/Earth.jpg";
import Gold from "../images/Gold.jpg";
import Holiday from "../images/Holiday.jpg";
import JazzWorld from "../images/Jazz world.jpg";
import Jazzman from "../images/Jazzman.jpg";
import MM from "../images/M.M.jpg";
import NewContact from "../images/New conctact.jpg";
import Oceans from "../images/Oceans.jpg";
import PiazzaN1 from "../images/Piazza n.1.jpg";
import PlanetEarth from "../images/Planet Earth.jpg";
import Rockstar from "../images/Rockstar.jpg";
import South from "../images/South.jpg";
import Temple from "../images/Temple.jpg";
import Through from "../images/Through.jpg";
import Time from "../images/Time.jpg";
import ToTheMusicCity from "../images/To the music city.jpg";
import Why_ from "../images/Why_.jpg";
---

<div class="container">
  <div class="small">
    <img src={South} />
  </div>
  <div class="small">
    <img src={Temple} />
  </div>
  <div class="small">
    <img src={Through} />
  </div>
  <div class="small">
    <img src={Time} />
  </div>
  <div class="small">
    <img src={ToTheMusicCity} />
  </div>
  <div class="small">
    <img src={Why_} />
  </div>
  <div class="small">
    <img src={Rockstar} />
  </div>
  <div class="medium">
    <img src={PlanetEarth} />
  </div>
  <div class="small">
    <img src={PiazzaN1} />
  </div>
  <div class="large">
    <img src={Oceans} />
  </div>
  <div class="small">
    <img src={NewContact} />
  </div>
  <div class="small">
    <img src={MM} />
  </div>
  <div class="small">
    <img src={Jazzman} />
  </div>
  <div class="medium">
    <img src={JazzWorld} />
  </div>
  <div class="small">
    <img src={Holiday} />
  </div>
  <div class="medium">
    <img src={Gold} />
  </div>
  <div class="large">
    <img src={Earth} />
  </div>
  <div class="medium">
    <img src={Contact} />
  </div>
  <div class="small">
    <img src={CoffeeBreak} />
  </div>
  <div class="large">
    <img src={Casanova} />
  </div>
  <div class="small">
    <img src={Carnival} />
  </div>
  <div class="large">
    <img src={Canal} />
  </div>
  <div class="large">
    <img src={Anyway} />
  </div>
  <div class="small">
    <img src={Accademia} />
  </div>
  <div class="small">
    <img src={AccademiaToo} />
  </div>
</div>
<style>
  .container {
    width: 80vw;
    margin: 3em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 50px;
    grid-auto-flow: dense;
    grid-gap: 5px;
  }

  .large,
  .medium,
  .small {
    display: flex;
    height: 100%;
    width: 100%;
    grid-column: auto / span 1;
  }

  .large {
    grid-row: span 4;
  }

  .medium {
    grid-row: span 3;
  }

  .small {
    grid-row: span 2;
  }

  .container img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }
</style>
