---
import { Seo } from "astro-seo-meta";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "@fontsource/montserrat/variable.css";
import { WEBSITE_URL } from "../utils/constants.mjs";

export interface Props {
  title: string;
  description: string;
  endpoint?: string;
}

const { title, description, endpoint } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Seo
      title={title}
      description={description}
      icon="/favicon.ico"
      colorScheme="light"
      keywords={[
        "website",
        "portfolio",
        "art",
        "artist",
        "galleries",
        "Venezia",
        "Torino",
        "astro",
      ]}
      facebook={{
        image: "/src/images/fotoPortrait.png",
        url: `${WEBSITE_URL}${endpoint ? endpoint : ""}`,
        type: "website",
      }}
    />
  </head>

  <body>
    <Navbar currentRoute={title} />
    <main>
      <slot />
    </main>
    <Footer />
    <script src="../../node_modules/flowbite/dist/flowbite.js">
      import "flowbite";
    </script>
    <script src="../utils/pwa.ts"></script>
  </body>
</html>
<style>
  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    --color-text: hsl(12, 5%, 4%);
    --color-bg: hsl(10, 21%, 95%);
    --color-border: hsl(17, 24%, 90%);
  }

  html {
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
